* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.page {
  width: 500px;
  padding: 10px;
  background-color: #e4e4e4;
}

.add-block {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  padding: 6px 10px;
  background-color: #fff;
}

.btn {
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
}

.add-btn,
.edit-btn {
  color: #fff;
  background-color: #4264af;
}

.edit-btn {
  margin-right: 10px;
}

.delete-btn {
  color: #fff;
  background-color: #b14343;
}

.like-btn,
.comment-btn,
.cancel-btn {
  color: #6b6b6b;
  background-color: #fff;
}

.post {
  margin-bottom: 15px;
  padding: 10px 13px 0 13px;
  background-color: #fff;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-info {
  margin-left: 10px;
}

.user-img {
  width: 32px;
  border-radius: 16px;
}

.user-name {
  font-weight: 700;
  color: #4269af;
}

.post-date {
  font-size: 12px;
  color: #6b6b6b;
}

.post-content {
  padding: 15px 0;
  font-size: 22px;
}

.post-footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #cccccc;
}

.post-actions-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  border-top: 1px solid #cccccc;
}

.create-post-container,
.edit-post-container {
  padding: 10px 13px;
  background-color: #fff;
}

.create-post-header,
.edit-post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #6b6b6b;
  border-bottom: 1px solid #cccccc;
}

.create-post-form,
.edit-post-form {
  display: flex;
  flex-direction: column;
}

.create-post-input,
.edit-post-input {
  margin-bottom: 20px;
  padding: 20px;
  border: none;
  outline: none;
  resize: none;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: 1px solid #cccccc;
}